extends ./_partials/_layout

block content
  .onLoggedOut
    .login
      h1 Login
      form(name="login")
        input(placeholder="email" type="email" required)
        input(placeholder="password" type="password" name="logPassword" required)
        input(type="submit" value="Login")
        button.toRegister Register
    .register.hidden
      h1 Register
      form(name="register")
        input(placeholder="email" type="email" required)
        input(placeholder="password" type="password" name="firstPassword" required)
        input(placeholder="re-type password" type="password" name="secondPassword" required)
        input(type="button" value="Cancel")
        input(type="submit" value="Register")
  .onLoggedIn
    h1
    button Logout
